interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer XXXXXX
    method: POST
    uri: https://my.kibe.la/api/v1
  response:
    body:
      string: '{"data":{"__schema":{"queryType":{"name":"Query"},"mutationType":{"name":"Mutation"},"subscriptionType":null,"types":[{"kind":"OBJECT","name":"AccessToken","description":"Personal
        access tokens","fields":[{"name":"createdAt","description":null,"args":[],"type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"DateTime","ofType":null}},"isDeprecated":false,"deprecationReason":null},{"name":"description","description":null,"args":[],"type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"String","ofType":null}},"isDeprecated":false,"deprecationReason":null},{"name":"descriptionHtml","description":null,"args":[],"type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"String","ofType":null}},"isDeprecated":false,"deprecationReason":null},{"name":"id","description":null,"args":[],"type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"ID","ofType":null}},"isDeprecated":false,"deprecationReason":null},{"name":"isActive","description":"It
        returns true if (1) the access token is not revoked, and (2) the author of
        the access token is alive.","args":[],"type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"Boolean","ofType":null}},"isDeprecated":false,"deprecationReason":null},{"name":"isRevoked","description":null,"args":[],"type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"Boolean","ofType":null}},"isDeprecated":false,"deprecationReason":null},{"name":"lastUsedAt","description":null,"args":[],"type":{"kind":"SCALAR","name":"DateTime","ofType":null},"isDeprecated":false,"deprecationReason":null},{"name":"logs","description":null,"args":[{"name":"after","description":"Returns
        the elements in the list that come after the specified cursor.","type":{"kind":"SCALAR","name":"String","ofType":null},"defaultValue":null},{"name":"before","description":"Returns
        the elements in the list that come before the specified cursor.","type":{"kind":"SCALAR","name":"String","ofType":null},"defaultValue":null},{"name":"first","description":"Returns
        the first _n_ elements from the list.","type":{"kind":"SCALAR","name":"Int","ofType":null},"defaultValue":null},{"name":"last","description":"Returns
        the last _n_ elements from the list.","type":{"kind":"SCALAR","name":"Int","ofType":null},"defaultVa[...]
- request:
    body: null
    headers:
      authorization:
      - Bearer XXXXXX
    method: POST
    uri: https://my.kibe.la/api/v1
  response:
    body:
      string: '{"data":{"currentUser":{"account":"chanyou","realName":"Yu Nakamura"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e239b82128af47921f827a6a7630a57d"
    status:
      code: 200
      message: OK
    url: https://my.kibe.la/api/v1
version: 1
